params {
    samples            = "config/samples.tsv"
    genome_fasta       = "resources/reference/genome.chr19.fa"
    gtf                = "resources/reference/annotation.chr19.gtf"
    barcode_whitelist  = "resources/reference/barcode_whitelist_v2.txt"
    outdir             = "results"
}

conda.enabled = true

process {
    cpus = 4
}

profiles {
    docker {
        docker.enabled = true
        conda.enabled = false
    }
}
